extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	include ../section/hero
	include ../section/cases
	include ../section/promotion
	include ../section/services
	include ../section/offer
	include ../section/info
	include ../section/expert