// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */

/* Стили секции cases */
@import 'section/cases.styl'
/* Стили секции cases */

/* Стили секции expert */
@import 'section/expert.styl'
/* Стили секции expert */

/* Стили секции hero */
@import 'section/hero.styl'
/* Стили секции hero */

/* Стили секции info */
@import 'section/info.styl'
/* Стили секции info */

/* Стили секции offer */
@import 'section/offer.styl'
/* Стили секции offer */

/* Стили секции promotion */
@import 'section/promotion.styl'
/* Стили секции promotion */

/* Стили секции services */
@import 'section/services.styl'
/* Стили секции services */

/* Стили секции services */
@import 'section/adaptive-index.styl'
/* Стили секции services */



// Компоненты
@import "common/common.styl"