.cases__item-title a {
    display: block;
}
.only-mobile {
    display none 
}
.title_sect.offer__title span.only-mobile {
    display: none    
}
section.expert {
    padding-bottom: 80px;
}
@media (max-width:1280px) {
.container {
    padding: 0 25px;
}
.hero__bottom {
    width: 100%;
}

.hero__our-clients-list {
    flex-grow: 0;
    width: auto;
    max-width: none;
    width: calc(100% - 265px);
}
.hero__our-clients-item {
    margin-right: 19px;
}
.hero__our-clients-item {
    margin-right: 19px;
}

.expert__right-content {
    padding-right: 50px;
    min-width: 0;
}

.specialist__img img {
    min-width: 430px;
}

.specialist__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.expert__left-content {
    flex-shrink: 1;
}
.offer__get-strategy {
    right: 25px;
}

.cases__promo-download.btn {
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 20px;
}
.hero .container {
    padding-top: 190px;
}

section.hero:before {
    display: none;
}

.hero .container .banner__fade {
    width: 500px;
    height: 500px;
    right: -47px;
    background-size: cover;
}

.hero .container .banner__man{
    width: 300px;
    height: 300px;
    right: 30px;
    background-size: cover;
}

.title_sect {
    font-size: 30px;
}

.hero__title.title_sect {
    margin-bottom: 15px;
}

.hero__desc {
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 400px;
    line-height: 1.2;
}

.hero__wehelp.text_note {
    font-size: 10px;
    max-width: 300px;
    margin-right: auto;
}

.hero__audit-title {
    font-size: 12px;
    max-width: 250px;
    margin: 0 auto 15px;
}

.hero__audit {
    flex-wrap: wrap;
}

.hero__audit-analization {
    width: 100%;
    flex-grow: 0;
    margin: 0 0 12px;
}

.btn.hero__audit-btn {
    margin: 0 auto;
}

.hero__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.hero__our-clients {
    max-width: 400px;
    font-size: 18px;
    text-align: center;
    margin: 0 0 10px;
}
.hero__bottom {
    margin-bottom: -66px;
}

section.hero:before {
    display: block;
    height: 55px;
    clip-path: none;
}

section.hero {
    padding-bottom: 55px;
}
.hero__our-clients-list {
    width: 100%;
}
.hero__audit-popup {
    top: 79px;
}
.hero__our-clients-list .slider__arrow {
    display: none;
}

.hero__our-clients-slider {
    margin: 0;
}

.hero__our-clients-slider .slick-list {
    overflow: visible;
}

.hero__our-clients-item {
    height: 100px;
}

}

@media (max-width:1024px) {
section.cases {
    padding-top: 40px;
}
section.expert {
    padding-bottom: 0px;
}
.cases__title {
}

.cases__desc {
    margin-bottom: 15px;
}

.cases__desc span {}

.cases__promo-title {
    font-size: 16px;
}

.cases__promo-wrp {
    margin-bottom: 15px;
}

.cases__list {
    margin-bottom: 30px;
}

.cases__promo-desc {
}

section.promotion {
    padding-top: 50px;
}

.promotion__select {
    padding-bottom: 20px;
}

.promotion__desc {
    font-size: 1rem;
    max-width: 600px;
}

.promotion__item-title {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.promition__item-example {
    margin-bottom: 10px;
    font-size: .9rem;
}

.promotion__item-desc {
    margin-top: 10px;
}

.promotion__item-subtitle {
    margin-bottom: 10px;
    font-size: 1rem;
}

.promotion__item-stage {
    font-size: .875rem;
}

.promotion__item {
    padding-bottom: 250px;
}

.promotion__item:after {
    top: auto !important;
    bottom: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    right: auto !important;
    background-size: 70%;
    background-position-x: center;
    background-position-y: bottom;
}
section.cases {
    padding-top: 40px;
}

.cases__title {
}

.cases__desc {
    margin-bottom: 15px;
}

.cases__desc span {}

.cases__promo-title {
    font-size: 16px;
}

.cases__promo-wrp {
    margin-bottom: 15px;
}

.cases__list {
    margin-bottom: 30px;
}

.cases__promo-desc {
}

section.promotion {
    padding-top: 50px;
}

.promotion__select {
    padding-bottom: 20px;
}

.promotion__desc {
    font-size: 1rem;
    max-width: 600px;
}

.promotion__item-title {
    font-size: 1.5rem;
    margin-bottom: 12px;
}

.promition__item-example {
    margin-bottom: 10px;
    font-size: .9rem;
}

.promotion__item-desc {
    margin-top: 10px;
}

.promotion__item-subtitle {
    margin-bottom: 10px;
    font-size: 1rem;
}

.promotion__item-stage {
    font-size: .875rem;
}

.promotion__item {
    padding-bottom: 250px;
}

.promotion__item:after {
    top: auto !important;
    bottom: 0 !important;
    left: 50%;
    transform: translateX(-50%);
    right: auto !important;
    background-size: 70%;
    background-position-x: center;
    background-position-y: bottom;
}

span.text_bigger {
    font-size: 1.875rem;
}

.services__title.title_sect {margin-bottom: 12px;}

.services__title span {display: inline;margin-right: 8px;}

section.services {
    padding-top: 40px;
}

.services__subtitle {
    margin-bottom: 20px;
}

.services__item:nth-child(3n) {}

.services__list {
    justify-content: space-between;
}

.services__item {
    margin-right: 0;
    width: 49%;
}

section.offer {
    padding-top: 30px;
}

.offer__period {
    margin-bottom: 10px;
    padding-left: 15px;
}

.title_sect.offer__title {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.offer__bot {
    padding: 0;
    background: none;
}

.offer__get-strategy {
    position: static;
    width: 300px;
    margin: 40px auto 0;
}

.offer__bot .container {
    padding: 0;
}

.offer__bot .offer__content-wrp {
    width: 100%;
    padding: 20px 25px;
    background: #f4f4f4;
}

section.info {
    padding-top: 50px;
}

.offer__desc {}

.offer__desc span {
    font-size: .875rem;
    display: block;
}

a.offer__link {
    padding: 15px 0 6px;
    font-size: .875rem;
}

.offer__note {
    margin-bottom: 20px;
}

.offer__item {
    margin-right: 3%;
    text-align: center;
}

.offer__item-img {
    padding-left: 0;
    justify-content: center;
    margin-bottom: 10px;
}

.offer__item-title {
    max-width: 150px;
    margin: 0 auto 6px;
}

form.offer__form {
    padding: 0 20px 25px;
}

.offer__form-desc {padding-bottom: 15px;}

input.offer__form-field {
    margin-bottom: 15px;
    font-size: .8rem;
}

.offer__form-img {
    height: 200px;
    margin-bottom: 17px;
}

.offer__form-img img {
    height: 100%;
}

.btn.offer__form-btn {}

.info__title {
    font-size: 1.875rem;
    margin-bottom: 30px;
}

.info__item-title {
    margin-bottom: 15px;
}

.info__item-title span {
    font-size: 1rem;
}

.filler {
    margin-bottom: 5px;
}

.info__item-open {
    margin-top: 5px;
}

section.expert {
    padding-top: 50px;
}

section.expert .container {
    flex-direction: column;
}

.expert__left-content {
    width: 100%;
    padding-top: 0;
    padding-right: 0;
    margin-bottom: 30px;
}

.expert__right-content {
    width: 100%;
    max-width: 360px;
    margin: 0 auto 40px;
    padding-right: 0;
}

.sect_title.expert__title {
    font-size: 1.875rem;
    margin-bottom: 40px;
}

.expert__item {
    margin-right: 3%;
    text-align: center;
}

.expert__item-img {
    padding-left: 0;
    margin-bottom: 10px;
    justify-content: center;
}

.expert__item-title {
    margin-right: 0;
    max-width: 150px;
    margin: 0 auto 6px;
}

.expert .slider__arrow.arrow_next {
    right: 15px;
}

.specialist__content {
    padding: 20px 15px 15px;
    display: flex;
    flex-direction: column;
}

.specialist__open-about {
    display: none;
}

.specialist__about {
    display: block;
}

.specialist__desc {
    margin-bottom: 10px;
}

a.specialist__ask.btn {
    padding: 22px 14px;
    align-self: center;
}

.footer .container {
    flex-direction: column;
    align-items: center;
}

.footer__desc {
    margin: 17px 0 50px;
    line-height: 1.3;
    max-width: 230px;
}

.footer__contacts {
    margin-left: 0;
}

a.footer__link {
    margin-bottom: 8px;
}    
    
}

@media(max-width:768px) {
    .hero .container {
    padding-top: 328px;
}
.hero__audit-analization .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 10px;
}

.hero__audit-analization .select2-container .select2-selection--single {
    padding: 0 5px;
}

.hero .container .banner__fade {
    right: 50%;
    transform: translateX(50%) !important;
}

.hero .container .banner__man {
    top: 96px;
    right: 50%;
    transform: translateX(50%) !important;
}
.select2-container.select2-container--default.select2-container--open {
}

span.select2-container.select2-container--default.select2-container--open {
    position: static;
}

.select2-container--open .select2-dropdown--below {
    transform: translateX(-79px);
    width: 150px !important;
}

html .select2-results__option {
    padding: 7px;
    font-size: 12px;
}

html .select2-container--default .select2-results>.select2-results__options {
    max-height: 150px;
}
h1.hero__title.title_sect {
    font-size: 20px;
    text-align: center;
    margin-bottom: 9px;
}

.hero__desc {
    font-size: 13px;
    text-align: center;
    max-width: 314px;
    margin: 0 auto;
    margin-bottom: 19px;
}

.hero__wehelp.text_note {
    display: none;
}

.hero__head {
    padding-bottom: 0;
}

.hero__audit-title {margin-bottom: 12px;}

.hero__audit-analization {
    margin-bottom: 17px;
}

input.hero__audit-field {
    font-size: 10px;
    padding: 13px 23px;
}

input.hero__audit-field::placeholder {
    font-size: 10px;
}

.hero__audit-bottom {
    padding: 16px 13px 0 13px;
}

.hero__audit-field-wrp {
    height: 35px;
}

.hero__audit-field-select {
    width: 71px;
    height: 35px;
    background-size: contain;
    background-color: #ebf0f3;
    background-position: center;
}

.btn.hero__audit-btn {
    padding: 18px 50px 16px;
}

.hero__bottom {
    padding-top: 31px;
}

.hero__our-clients {
    margin-bottom: 2px;
}

.hero__our-clients-item {
    height: 73px;
}

.hero__our-clients-item img {
    max-height: 80%;
}

section.hero:before {
    height: 45px;
}

.title_sect {
    font-size: 24px;

    margin: 0 auto 13px;
}

.cases__title span {
    display: inline;
}

.cases__desc span {
    margin-bottom: 18px;
}

.cases__desc span.text_bold {
    font-weight: normal;
}
h1.title_sect.cases__title {
    max-width: 400px
}
.cases__desc {
    max-width: 400px;
    margin: 0 auto 5px;
}
h1.title_sect.cases__title {}

span.text_bold {}

.cases__item-img {
    height: 300px;
    margin-bottom: 16px;
}

.slider__arrow {
    width: 30px;
    height: 30px;
}

.cases__list {
    padding: 0 30px;
}

.cases__item-title {
    max-width: none;
    padding: 0 8px;
}

.cases__item-title span {
    display: block;
}

.cases__item-title a {
    margin-top: 16px;
}

.cases__item {
    margin-right: 10px;
}

.cases__slider {
    padding: 10px 0 10px 10px;
}

.cases__desc span:last-child {
    font-size: 12px;
}

.cases__desc span {
    margin-bottom: 15px;
}

section.cases .container {
    padding: 0;
}

.cases__top {
    padding: 0 25px;
}

.cases__promo-desc {
    padding: 0 25px;
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
}

.cases__promo-wrp {
    padding: 25px 25px 0;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

.cases__promo-title {
    font-size: 18px;
    font-weight: revert;
    text-align: center;
    max-width: 281px;
    margin-bottom: 22px;
}

a.cases__promo-download.btn {
    margin-bottom: -20px;
}

h1.promotion__title.title_sect {}

.promotion__desc {
    margin-bottom: 25px;
}

.select-item__text {
    padding-bottom: 22px;
    margin-bottom: 12px;
}

.select-item__subtext {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.promotion__select-item:first-child .select-item__subtext {
    justify-content: flex-start;
}

.promotion__select-item:last-child .select-item__subtext {
    justify-content: flex-end;
}

.promotion__select {
    padding-bottom: 35px;
}

.promotion__item-title {
    font-size: 16px;
    text-align: center;
}

.promition__item-example {
    text-align: center;
    font-size: 14px;
}

.promotion__item-desc {
    margin-top: 0;
}

.promition__item-example {
    margin-bottom: 15px;
}

.promotion__item-subtitle {
    margin-bottom: 20px;
    text-align: center;
}

.promotion__item-stage {
    margin-bottom: 3px;
}
section.services {}

.services__title span {
    font-size: 24px;
}

.services__title.title_sect {
    margin-bottom: 20px;
}

.services__subtitle {
    max-width: 300px;
    margin: 0 auto 30px;
}

.services__item {
    width: 100%;
    margin-bottom: 18px;
    padding: 26px;
    min-height: 0;
}

.services__item-title {
    font-size: 14px;
}

.services__item-desc {
    font-size: 14px;
}

a.services__item-more {
    font-size: 14px;
}

.services__item:before {
    width: 21px;
    height: 21px;
    background: none;
    border: 4px solid #ffa60d;
    transform: rotate(45deg);
    top: 22px;
    left: 20px;
}

.offer__top .container {
    padding: 0;
}

.services__item-icon {
    right: 16px;
}

.offer__content-wrp {
    padding: 0;
    width: 100%;
}

.offer__period {
    max-width: none;
    padding: 13px;
    text-align: center;
}

.title_sect.offer__title {
    padding: 0 25px;
    margin: 0 auto 20px;
    max-width: 378px;
    text-align: center;
}

.title_sect i {
    white-space: nowrap;
}

.offer__bot .offer__content-wrp {
    background: none;
    padding: 0 25px;
}

.offer__desc {
    max-width: 260px;
    text-align: center;
    margin: 0 auto;
}

a.offer__link {
    font-size: 16px;
    text-align: center;
    padding: 17px 0 16px;
}

.offer__desc span {
    font-size: 16px;
}

.offer__note {
    margin: 0 auto 23px;
    max-width: 248px;
    text-align: center;
}
.offer__item, .expert__item {
    margin: 0 0 26px;
    width: 100%;
}

.offer__list, .expert__list  {
    flex-wrap: wrap;
}

.offer__item-desc, .expert__item-desc {
    max-width: 300px;
    margin: 0 auto;
}

.offer__item-img, .expert__item-img {
    margin-bottom: 16px;
}

.offer__item-title, .expert__item-title {
    margin-bottom: 15px;
}
.offer__get-strategy {
    margin-top: 80px;
    width: 100%;
}

.offer__form-img {
    margin-top: -63px;
}

form.offer__form {
    padding: 0 10px 24px;
}

button.btn.offer__form-btn {
    max-width: 240px;
    margin: 0 auto;
    padding: 13px 15px 13px;
}

.offer__form-desc {
    padding-bottom: 20px;
    margin: 0 auto;
    max-width: 280px;
    text-align: center;
}
section.info {
    padding-top: 65px;
}

.info__item-title {
    margin-bottom: 30px;
}

.info__item-desc {
    font-size: .875rem;
}

.sect_title.expert__title {
    text-align: center;
    max-width: 300px;
    margin: 0 auto 40px;
}
section.info {
    padding-top: 65px;
}

.info__item-title {
    margin-bottom: 30px;
}

.info__item-desc {
    font-size: .875rem;
}

.sect_title.expert__title {
    text-align: center;
    max-width: 300px;
    margin: 0 auto 40px;
}

.expert__right-content {
    max-width: none;
    padding-top: 20px;
}

section.expert .container {
    padding: 0;
}

.expert__left-content {
    padding: 0 25px;
}

.specialist__img {
    height: 390px;
    overflow: hidden;
}

.specialist__content {
    margin-top: 0;
    padding-top: 38px;
}

.expert .slick-list {
    padding-bottom: 50px;
}

a.specialist__ask.btn {
    margin-bottom: -50px;
}

.specialist__about-list {
    max-width: 300px;
}

.expert .slider__arrow.arrow_next {
    width: 40px;
    height: 40px;
}

.specialist__img img {
    min-width: 320px;
}

.footer__desc {
    max-width: 272px;
}
}

@media (max-width:480px) {
    .container {
        padding:0 10px    
    }    
    .cases__promo-wrp {
        padding: 25px 10px 0    
    }
    .offer__bot .offer__content-wrp {
        padding: 0 10px    
    }
    .expert__left-content {
    padding: 0 10px;
}

.title_sect.offer__title {
    padding: 0 10px;
}

.cases__promo-desc {
    padding: 0 10px;
}

.cases__top {
    padding: 0 10px;
}
.promotion__item:after {
    width: 300px!important;
    background-size: 100%!important;
    height: 300px !important;
}
.promotion__item:nth-child(1):after {
    background-size: 80%!important;
}
.hero__audit-bottom {
    font-size: 10px;
}

.hero__our-clients-item {
    margin-right: 10px;
}

.hero__our-clients-slider .slick-list {
    padding: 15px 0 18px 10px;
}

a.cases__promo-download.btn {
    margin-left: 0;
}
.hero__our-clients-list .slider__arrow {
    display none    
}
.hero__audit-bottom {
    font-size: 10px;
}

.hero__our-clients-item {
    margin-right: 10px;
}

.hero__our-clients-slider .slick-list {
    padding: 15px 0 18px 10px;
}

a.cases__promo-download.btn {
    margin-left: 0;
}

.services__item-icon img {
    width: 80%;
}

.services__item-icon {
    display: flex;
    justify-content: flex-end;
    bottom: 28px;
}

.offer__period {
    padding: 13px 28px;
    line-height: 1.2;
}

.info__title {
    font-size: 24px;
}
.only-mobile {
    display block    
}
.only-desk {
    display none    
}

.title_sect.offer__title span.only-mobile {
    display: inline-block   
}
.title_sect.offer__title span.only-desk {
    display: none    
}
.expert .slider__arrow.arrow_next {
    top: 405px;
    transform: none;
}

.cases__list .slider__arrow {
    display: none !important;
}

.cases__list {
    padding: 0;
}
.cases__slider {
    overflow: visible;
}

.cases__slider {
    padding: 20px 13px 10px 27px;
}
section.cases {
    overflow: hidden;
}
.promotion__period {
    font-size: .875rem;
    margin-top: 0;
    margin-bottom: 11px;
}
.cases__item {
    margin-right: 14px;
}

.cases__item-img {
    height: 344px;
    transition: .5s all;
}

.slick-active .cases__item-img {
    transform: scale(1.06);
    margin-bottom: 27px;
}
.hero__audit-popup {
    top: 76px;
    font-size: 12px;
    padding: 26px 10px;
    margin: 0 -10px;
}
.hero__audit-popup {
    top: 76px;
    font-size: 12px;
    padding: 26px 10px;
    margin: 0 -10px;
}

.form-popup {
    background: rgba(0,0,0,0.9);
}

form.cases__form {
    width: 100%;
    padding: 22px 35px;
}

.form__checkbox {
    white-space: nowrap;
    font-size: 10px;
    margin-left: -17px;
}

.cases__form-title {
    text-align: center;
    font-size: 14px;
    margin: 0 -8px 16px;
}

.form__note {
    font-size: 12px;
    margin-bottom: 15px;
}

.form-popup__close {
    background-image: url(../img/content/popup-close-w.png);
    right: 10px;
    top: -35px;
}
.form__note {
    font-size: 10px;
    margin-left: 15px;
}

.expert__form-popup.form-popup .form__field.field_textarea {margin-bottom: 13px;}
.cases__item:hover {
    transform: none
}
.form__checkbox {
    text-align: center;
}
form.promotion__form {
    width: 100%;
}

.promotion__form-subtitle {
    max-width: none;
    margin-left: 5px;
    margin-bottom: 17px;
}

.promotion__form-title {
    font-size: 18px;
    margin-bottom: 14px;
}

.promotion__form .form__field {
    margin-bottom: 14px;
}

.promo_note {
    margin-bottom: 19px;
}

.form__nore {
    font-size: 10px;
}
}