footer.footer {
    background: #1b253c;
    padding: 33px 0 18px;
}

.footer .container {
    display: flex;
    align-items: center;
}

.footer__contacts {
    margin-left: auto;
}

.footer__desc {
    font-size: 14px;
    margin-left: 47px;
    color: #fff;
    max-width: 266px;
}

.footer__logo {
    width: 208px;
}

a.footer__link {
    display: flex;
    font-size: 24px;
    color: #fff;
    text-align: end;
    margin-bottom: 11px;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

a.footer__link span {
    font-size: 14px;
    text-decoration: underline;
    display: inline-block;
    margin-right: 15px;
}

a.footer__link:last-child {
    margin-bottom: 0;
}