section.cases 
    .container 
        .cases__top
            h1.title_sect.cases__title 
                span В каждом проекте мы ставим
                span во главе угла <b>продажи</b>, а не клики
            .cases__desc 
                span.text_bold Мы готовы подписываться под KPI в зависимости от уровня развития вашего бизнеса
                span У нас есть проекты, в которых мы работаем за % от продаж, позиции или объем заявок
            .cases__list 
                .slider__arrow.arrow_prev
                .cases__slider
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                    .cases__item
                        .cases__item-img 
                            
                        .cases__item-title 
                            span.text_bold Кейс: 2 млн. руб. 
                            span дополнительной выручки с SEO трафика, для концерта братьев Запашных
                            a Читать подробнее →
                .slider__arrow.arrow_next
        .cases__bot
            .cases__promo 
                .cases__promo-wrp 
                    .cases__promo-title Всего больше 50 проектов. От простых товаров и услуг, до мероприятий и промышленных компаний
                    a.cases__promo-download.btn(href="" download title="более 50 кейсов") Скачать кейсы в 1 клик
                .cases__promo-desc Мы уже 10 лет специализируемся на эффективном продвижением коммерческих сайтов в интернете. Главной задачей и приоритетом считаем увеличение прибыли вашего бизнеса. Глубоко разбираемся в алгоритмах поисковых систем и факторах ранжирования, точно предвидим тенденции развития поиска и быстро под них адаптируемся. Найдём эффективный и оптимальный способ привлечения поискового трафика на ваш сайт.
.cases__form-popup.form-popup 
    form.cases__form
        .cases__form-title Укажите телефон, на который выслать ссылку на полный отчет
        input.form__field(name='tel' placeholder="+7 (___) ___-__-__")
        .form__note После ввода телефона вы получите ссылку на полный отчет
        button.btn.form__button(type="submit") Получить полный отчет
        .form__checkbox
            input(type="checkbox" name="personal" id="personal")
            label(for='personal') Согласен на обработку персональных данных
        .form-popup__close    
