section.expert 
    .container 
        .expert__left-content
            .sect_title.expert__title 
                span Мы привлекаем экспертов,
                span.text_bold которые решают
                span.text_bold не стандартные задачи бизнеса
            .expert__list 
                .expert__item   
                    .expert__item-img 
                        img(src="app/img/content/promotion-global.png", alt="")
                    .expert__item-title Продвижение по всей России или Европе
                    .expert__item-desc наши эксперты реализуют продвижение не только по РФ, но и в странах Евросоюза и Америке
                .expert__item   
                    .expert__item-img 
                        img(src="app/img/content/promotion-shop.png", alt="")
                    .expert__item-title Продвижение по всей России или Европе
                    .expert__item-desc наши эксперты реализуют продвижение не только по РФ, но и в странах Евросоюза и Америке
                .expert__item   
                    .expert__item-img 
                        img(src="app/img/content/traffic.png", alt="")
                    .expert__item-title Продвижение по всей России или Европе
                    .expert__item-desc наши эксперты реализуют продвижение не только по РФ, но и в странах Евросоюза и Америке
        .expert__right-content
            .slider__arrow.arrow_prev
            .expert__specialist-list
                .expert__specialist 
                    .specialist__img 
                        img(src="app/img/content/expert.png", alt="")
                    .specialist__content
                        .specialist__desc 
                            .specialist__name Роман 
                            .specialist__open-about О специалисте
                        .specialist__about
                            .specialist__about-list 
                                span Преподавал курс SEO аналитики в тренинговом центре "TOP-EXPERT"
                                span Соавтор книги-бестселлера "SEO для бизнеса" 2015г
                                span Руководил продвижением крупных интернет порталов 
                            span tutu.ru, technosila.ru, office.ru, utinet.ru, koleso.ru 
                        a.specialist__ask.btn Задать вопрос эксперту
                .expert__specialist 
                    .specialist__img 
                        img(src="app/img/content/expert.png", alt="")
                    .specialist__content
                        .specialist__desc 
                            .specialist__name Роман 
                            .specialist__open-about О специалисте
                        .specialist__about
                            .specialist__about-list 
                                span Преподавал курс SEO аналитики в тренинговом центре "TOP-EXPERT"
                                span Соавтор книги-бестселлера "SEO для бизнеса" 2015г
                                span Руководил продвижением крупных интернет порталов 
                            span tutu.ru, technosila.ru, office.ru, utinet.ru, koleso.ru 
                        a.specialist__ask.btn Задать вопрос эксперту
            .slider__arrow.arrow_next
.expert__form-popup.form-popup 
    form.promotion__form
        .expert__form-title Задать вопрос эксперту
        input.form__field(name='tel' placeholder="+7 (___) ___-__-__") 
        .form__note После ввода телефона по которому вы получите ответ
        textarea.form__field.field_textarea(name='question' placeholder="Введите свой вопрос")
        button.btn.form__button(type="submit") Отправить вопрос
        .form__checkbox
            input(type="checkbox" name="personal" id="personal-ex")
            label(for='personal-ex') Согласен на обработку персональных данных
        .form-popup__close   