footer.footer 
    .container 
        .footer__logo
            img(src="app/img/content/logo.png", alt="")
        .footer__desc Продвижение сайтов для малого бизнеса в Москве и по всей России
        .footer__contacts
            a.footer__link(href="tel:+74951234567") +7(495) 123-45-67
            a.footer__link(href="https://wa.me/74951234567") 
                span Написать в WhatsApp 
                .footer__link-icon 
                    img(src="app/img/content/whatsup.png", alt="")