section.hero 
    .container 
        .hero__top 
            .hero__head
                h1.hero__title.title_sect SEO продвижение сайтов 
                p.hero__desc Приведем клиентов из Яндекс и Google благодаря глубокой экспертизе в маркетинге, SEO и рекламной аналитике
                .hero__wehelp.text_note Помогаем малому бизнесу «слезть с иглы» Яндекс Директ и получать качественных клиентов в десятки раз дешевле в сравнении с контекстной рекламой
            .hero__audit 
                .hero__audit-title Получите онлайн-аудит  вашего сайта с помощью автоматического сервиса
                .hero__audit-analization
                    .hero__audit-field-wrp
                        input.hero__audit-field( placeholder= "Введите адрес сайта конкурента или проверьте свой сайт")
                        .hero__audit-field-select 
                    .hero__audit-bottom 
                        .hero__audit-prompt Нужна только ссылка на сайт
                        .hero__audit-whatis Что такое SEO? >
                    .hero__audit-popup 
                        span Поисковая оптимизация (англ. Search Engine Optimization, SEO) - комплекс мероприятий направленных на улучшение видимости сайта по нужным поисковым фразам, с целью привлечения дополнительного трафика и потенциальных клиентов. В SEO Оптимизацию входят работы направленные на улучшение сайта с технической и маркетинговой точки зрения.
                .btn.hero__audit-btn Анализировать 
        .hero__bottom 
            .hero__our-clients.text_note Эти компании стали нашими постоянными клиентами

            .hero__our-clients-list 
                .slider__arrow.arrow_prev
                .hero__our-clients-slider
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/azalia.png", alt="")
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/aero.png", alt="")
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/azalia.png", alt="")
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/aero.png", alt="")
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/azalia.png", alt="")
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/aero.png", alt="")
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/azalia.png", alt="")
                    a(href="#").hero__our-clients-item     
                        img(src="app/img/content/aero.png", alt="")
                .slider__arrow.arrow_next
