section.info 
    .container 
        .info__title Что нужно знать перед
        .info__list 
            .info__item 
                .info__item-title   
                    span SEO с оплатой за трафик
                    .filler 
                    .info__item-open
                .info__item-desc
                    span Идеальный вариант для больших интернет-магазинов.
                    a.info__item-more(href="") Подробнее →
            .info__item 
                .info__item-title   
                    span SEO с оплатой за трафик
                    .filler 
                    .info__item-open
                .info__item-desc
                    span Идеальный вариант для больших интернет-магазинов.
                    a.info__item-more(href="") Подробнее →
            .info__item 
                .info__item-title   
                    span SEO с оплатой за трафик
                    .filler 
                    .info__item-open
                .info__item-desc
                    span Идеальный вариант для больших интернет-магазинов.
                    a.info__item-more(href="") Подробнее →
            .info__item 
                .info__item-title   
                    span SEO с оплатой за трафик
                    .filler 
                    .info__item-open
                .info__item-desc
                    span Идеальный вариант для больших интернет-магазинов.
                    a.info__item-more(href="") Подробнее →
            .info__item 
                .info__item-title   
                    span SEO с оплатой за трафик
                    .filler 
                    .info__item-open
                .info__item-desc
                    span Идеальный вариант для больших интернет-магазинов.
                    a.info__item-more(href="") Подробнее →
            .info__item 
                .info__item-title   
                    span SEO с оплатой за трафик
                    .filler 
                    .info__item-open
                .info__item-desc
                    span Идеальный вариант для больших интернет-магазинов.
                    a.info__item-more(href="") Подробнее →
            .info__item 
                .info__item-title   
                    span SEO с оплатой за трафик
                    .filler 
                    .info__item-open
                .info__item-desc
                    span Идеальный вариант для больших интернет-магазинов.
                    a.info__item-more(href="") Подробнее →


        