section.offer
    .offer__top
        .container
            .offer__content-wrp
                .offer__period Летняя акция действует только с 1 по 30 Июня
                .title_sect.offer__title
                    span.only-desk Отправьте заявку и получите стратегию роста бизнеса <i>36 000 руб.</i>
                    span.only-mobile Отправьте заявку и получите стратегию роста бизнеса <i>36 000 р.</i>
                    span.text_bold - бесплатно*
    .offer__bot
        .container
            .offer__content-wrp
                .offer__desc 
                    span Сделаем аудит в течение 24 часов и вышлем на почту.
                    span Соберем от 300 ключевых запросов. То за что другие компании берут от 10 т.р. 
                    span.text_bold ВЫ ПОЛУЧИТЕ БЕСПЛАТНО
                a.offer__link(href="") Пример аудита смотреть тут
                .offer__note *для сайта услуг до 300 ключевых запросов, интернет магазины с большими ядрами делаются в демо варианте
                .offer__list 
                    .offer__item    
                        .offer__item-img 
                            img(src="app/img/content/audit.png", alt="")
                        .offer__item-title Аудит сайта от маркетолога 
                        .offer__item-desc Вы поймете точки роста, исправив которые сможете получать больше заявок на том же трафике
                    .offer__item    
                        .offer__item-img 
                            img(src="app/img/content/positions.png", alt="")
                        .offer__item-title Аудит сайта от маркетолога 
                        .offer__item-desc Вы поймете точки роста, исправив которые сможете получать больше заявок на том же трафике
                    .offer__item    
                        .offer__item-img 
                            img(src="app/img/content/plans.png", alt="")
                        .offer__item-title Аудит сайта от маркетолога 
                        .offer__item-desc Вы поймете точки роста, исправив которые сможете получать больше заявок на том же трафике
            .offer__get-strategy 
                form.offer__form
                    .offer__form-img 
                        img(src="app/img/content/promo.png", alt="")
                    .offer__form-desc Укажите ссылку на сайт и <b>ПОЛУЧИТЕ</b> предварительный отчет <b>+ бесплатный аудит через 24 часа</b>
                    input.offer__form-field( name="tel" type="text" placeholder="Укажите телефон (уточним детали)")
                    input.offer__form-field( name="link" type="text" placeholder="Укажите ссылку на сайт")
                    button.btn.offer__form-btn(type="submit") Получить стратегию продвижения