section.promotion 
    .container 
        h1.promotion__title.title_sect 
            span.text_bold SEO продвижение 
            span это стратигическое решение, которое 
            span.text_bold.text_yellow окупится в десятки раз
        .promotion__desc Это постоянная работа, которая даст свои плоды и поможет снизить рекламные бюджеты или совсем отказаться от рекламы в Яндексе
        .promotion__content
            .promotion__select 
                .promotion__select-item.active
                    span.select-item__text 1
                    .select-item__subtext 1 ЭТАП. Стратегия
                .promotion__select-item 
                    span.select-item__text 2
                    .select-item__subtext 2 ЭТАП. Подготовка
                .promotion__select-item 
                    span.select-item__text 3
                    .select-item__subtext 3 ЭТАП. Оптимизация
                .promotion__select-item 
                    span.select-item__text 4
                    .select-item__subtext 4 ЭТАП. Продвижение
                .promotion__select-item 
                    span.select-item__text 5
                    .select-item__subtext 5 ЭТАП. Отчетность
            .promotion__list 
                .promotion__item.active
                    .promotion__item-title Формирование стратегии продвижения и постановка целей
                    a.promition__item-example Пример стратегии, EXEL
                    .promotion__item-desc 
                        .promotion__item-subtitle Основные этапы работы:
                        .promotion__item-stages 
                            .promotion__item-stage 
                                span 1.
                                span Анатилика ЦА;
                            .promotion__item-stage 
                                span 2.
                                span Сбор карты мыслей и семантического ядра;
                            .promotion__item-stage 
                                span 3.
                                span Проектирование структуры сайта, распределение запросов по посадочным страницам сайта;
                            .promotion__item-stage 
                                span 4.
                                span Комплексный SEO Аудит сайта и конкурентов, составление рекомендаций по устранению внутренних ошибок сайта, препятсвующих продвижению сайта. Сравнение положительных и отрицательных показателей сайта в сравнении с конкурентами, рекомендации по улучшению Юзабилити;
                            .promotion__item-stage 
                                span 5.
                                span Анализ текущих позиций сайта, трафика, конверсий и кол-ва заявок;
                            .promotion__item-stage 
                                span 6.
                                span Составление стратегии продвижения и дорожной карты;
                        .promotion__period 4-12 месяц продвижения
                .promotion__item
                    .promotion__item-title Формирование стратегии продвижения и постановка целей
                    a.promition__item-example Пример стратегии, EXEL
                    .promotion__item-desc 
                        .promotion__item-subtitle Основные этапы работы:
                        .promotion__item-stages 
                            .promotion__item-stage 
                                span 1.
                                span Анатилика ЦА;
                            .promotion__item-stage 
                                span 2.
                                span Сбор карты мыслей и семантического ядра;
                            .promotion__item-stage 
                                span 3.
                                span Проектирование структуры сайта, распределение запросов по посадочным страницам сайта;
                            .promotion__item-stage 
                                span 4.
                                span Комплексный SEO Аудит сайта и конкурентов, составление рекомендаций по устранению внутренних ошибок сайта, препятсвующих продвижению сайта. Сравнение положительных и отрицательных показателей сайта в сравнении с конкурентами, рекомендации по улучшению Юзабилити;
                            .promotion__item-stage 
                                span 5.
                                span Анализ текущих позиций сайта, трафика, конверсий и кол-ва заявок;
                            .promotion__item-stage 
                                span 6.
                                span Составление стратегии продвижения и дорожной карты;
                        .promotion__period 4-12 месяц продвижения
                .promotion__item
                    .promotion__item-title Формирование стратегии продвижения и постановка целей
                    a.promition__item-example Пример стратегии, EXEL
                    .promotion__item-desc 
                        .promotion__item-subtitle Основные этапы работы:
                        .promotion__item-stages 
                            .promotion__item-stage 
                                span 1.
                                span Анатилика ЦА;
                            .promotion__item-stage 
                                span 2.
                                span Сбор карты мыслей и семантического ядра;
                            .promotion__item-stage 
                                span 3.
                                span Проектирование структуры сайта, распределение запросов по посадочным страницам сайта;
                            .promotion__item-stage 
                                span 4.
                                span Комплексный SEO Аудит сайта и конкурентов, составление рекомендаций по устранению внутренних ошибок сайта, препятсвующих продвижению сайта. Сравнение положительных и отрицательных показателей сайта в сравнении с конкурентами, рекомендации по улучшению Юзабилити;
                            .promotion__item-stage 
                                span 5.
                                span Анализ текущих позиций сайта, трафика, конверсий и кол-ва заявок;
                            .promotion__item-stage 
                                span 6.
                                span Составление стратегии продвижения и дорожной карты;
                        .promotion__period 4-12 месяц продвижения
                .promotion__item
                    .promotion__item-title Формирование стратегии продвижения и постановка целей
                    a.promition__item-example Пример стратегии, EXEL
                    .promotion__item-desc 
                        .promotion__item-subtitle Основные этапы работы:
                        .promotion__item-stages 
                            .promotion__item-stage 
                                span 1.
                                span Анатилика ЦА;
                            .promotion__item-stage 
                                span 2.
                                span Сбор карты мыслей и семантического ядра;
                            .promotion__item-stage 
                                span 3.
                                span Проектирование структуры сайта, распределение запросов по посадочным страницам сайта;
                            .promotion__item-stage 
                                span 4.
                                span Комплексный SEO Аудит сайта и конкурентов, составление рекомендаций по устранению внутренних ошибок сайта, препятсвующих продвижению сайта. Сравнение положительных и отрицательных показателей сайта в сравнении с конкурентами, рекомендации по улучшению Юзабилити;
                            .promotion__item-stage 
                                span 5.
                                span Анализ текущих позиций сайта, трафика, конверсий и кол-ва заявок;
                            .promotion__item-stage 
                                span 6.
                                span Составление стратегии продвижения и дорожной карты;
                        .promotion__period 4-12 месяц продвижения
                .promotion__item
                    .promotion__item-title Формирование стратегии продвижения и постановка целей
                    a.promition__item-example Пример стратегии, EXEL
                    .promotion__item-desc 
                        .promotion__item-subtitle Основные этапы работы:
                        .promotion__item-stages 
                            .promotion__item-stage 
                                span 1.
                                span Анатилика ЦА;
                            .promotion__item-stage 
                                span 2.
                                span Сбор карты мыслей и семантического ядра;
                            .promotion__item-stage 
                                span 3.
                                span Проектирование структуры сайта, распределение запросов по посадочным страницам сайта;
                            .promotion__item-stage 
                                span 4.
                                span Комплексный SEO Аудит сайта и конкурентов, составление рекомендаций по устранению внутренних ошибок сайта, препятсвующих продвижению сайта. Сравнение положительных и отрицательных показателей сайта в сравнении с конкурентами, рекомендации по улучшению Юзабилити;
                            .promotion__item-stage 
                                span 5.
                                span Анализ текущих позиций сайта, трафика, конверсий и кол-ва заявок;
                            .promotion__item-stage 
                                span 6.
                                span Составление стратегии продвижения и дорожной карты;
                        .promotion__period 4-12 месяц продвижения
.promotion__form-popup.form-popup 
    form.promotion__form
        .promotion__form-title Скачать файл в 1 клик
        .promotion__form-subtitle Укажите правильные данные. Файл откроется автоматически через пару секунд 
        input.form__field(name='mail' placeholder="Укажите email")
        input.form__field(name='nisha' placeholder="Укажите нишу")
        input.form__field(name='tel' placeholder="+7 (___) ___-__-__")
        .promo_note Спасибо, ваши данные отправлены
        button.btn.form__button(type="submit") Скачать в 1 клик
        .form__nore Файл откроется автоматически через 2 секунды 
        .form-popup__close    
    