section.services 
    .container 
        .services__title.title_sect 
            span Если мы найдем более эффективные способы продвижения
            span.text_bigger то <b>наши клиенты узнают об этом заранее</b>
        .services__subtitle Умеем работать и продвигаем сайты в самых популярных поисковых системах
        .services__list 
            .services__item 
                .services__item-title Google
                .services__item-desc E-A-T, YMYL, Линкбилдинг, PBN Сети. Знаем и практикуем самые современные и эффективные методики продвижения
                a.services__item-more(href="") Читать подробнее →
                .services__item-icon
                    img(src="app/img/content/google.png", alt="")
            .services__item 
                .services__item-title Google
                .services__item-desc E-A-T, YMYL, Линкбилдинг, PBN Сети. Знаем и практикуем самые современные и эффективные методики продвижения
                a.services__item-more(href="") Читать подробнее →
                .services__item-icon
                    img(src="app/img/content/yandex.png", alt="")
            .services__item 
                .services__item-title Google
                .services__item-desc E-A-T, YMYL, Линкбилдинг, PBN Сети. Знаем и практикуем самые современные и эффективные методики продвижения
                a.services__item-more(href="") Читать подробнее →
                .services__item-icon
                    img(src="app/img/content/yahoo.png", alt="")
            .services__item 
                .services__item-title Google
                .services__item-desc E-A-T, YMYL, Линкбилдинг, PBN Сети. Знаем и практикуем самые современные и эффективные методики продвижения
                a.services__item-more(href="") Читать подробнее →
                .services__item-icon
                    img(src="app/img/content/seo.png", alt="")
            .services__item 
                .services__item-title Google
                .services__item-desc E-A-T, YMYL, Линкбилдинг, PBN Сети. Знаем и практикуем самые современные и эффективные методики продвижения
                a.services__item-more(href="") Читать подробнее →
                .services__item-icon
                    img(src="app/img/content/landing-page.png", alt="")
            .services__item 
                .services__item-title Google
                .services__item-desc E-A-T, YMYL, Линкбилдинг, PBN Сети. Знаем и практикуем самые современные и эффективные методики продвижения
                a.services__item-more(href="") Читать подробнее →
                .services__item-icon
                    img(src="app/img/content/web-site.png", alt="")
